<!-- 1) 전체 평균 리뷰별점 조회  -->
<div class="total_review">
    <dl>
        <dt>
            <!-- 1) 전체 평균 리뷰별점 조회  -->
            <h2>REVIEW</h2>
            <div class="star_review">
                <span class="fa fa-star"> </span>
                <span class="fa fa-star-half-full"> </span>
                <span class="fa fa-star-o"> </span>
                <span class="fa fa-star-o"> </span>
                <span class="fa fa-star-o"> </span><br>
                <em class="star_grade">사용자 총 평점 : 1.7/5</em>
            </div>
        </dt>
        <dd>
            <!-- 리뷰별점 등록 -->
            <form action="#" th:action method="post">
                <h2>사용후기를 남겨주세요.</h2>
                <div class="star_review small">
                    <label for="review_grade_1"><input type="radio" name="review_grade" value="1.0" id="review_grade_1"><span class="fa fa-star"></span></label>
                    <label for="review_grade_2"><input type="radio" name="review_grade" value="2.0" id="review_grade_2"><span class="fa fa-star"></span><span class="fa fa-star"></span></label>
                    <label for="review_grade_3"><input type="radio" name="review_grade" value="3.0" id="review_grade_3"><span class="fa fa-star"></span><span class="fa fa-star"></span><span class="fa fa-star"></span></label>
                    <label for="review_grade_4"><input type="radio" name="review_grade" value="4.0" id="review_grade_4"><span class="fa fa-star"></span><span class="fa fa-star"></span><span class="fa fa-star"></span><span class="fa fa-star"></span></label>
                    <label for="review_grade_5"><input type="radio" name="review_grade" value="5.0" id="review_grade_5"><span class="fa fa-star"></span><span class="fa fa-star"></span><span class="fa fa-star"></span><span class="fa fa-star"></span><span class="fa fa-star"></span></label>
                    <button class="btn_basic" type="submit">등록하기</button>
                </div>
                <textarea name="opinion" cols="30" rows="5">회원님의 소중한 리뷰를 남겨주세요.(~100자 미만)</textarea>
            </form><!-- 리뷰별점 등록 끝 -->
        </dd>
    </dl>
</div>
<!-- 2) 리뷰 리스트 -->
<ul class="review_list_wrap">
    <!-- 리뷰 글 1개 -->
    <li th:each="review : ${reviews}">
        <dl>
            <dt>
                <div class="star_review">
                    <span class="fa fa-star"> </span>
                    <span class="fa fa-star-half-full"> </span>
                    <span class="fa fa-star-o"> </span>
                    <span class="fa fa-star-o"> </span>
                    <span class="fa fa-star-o"> </span>
                    <em class="star_grade" th:text="${review.gradeReview}">5.0</em>
                </div>
                <div class="reviewer">
                    <span class="name" th:text="${review.loginId}">ttt*****</span>
                    <span class="date" th:text="${review.inrollDate}">2023/06/01</span>
                    <span class="btn"> <!-- th:onclick="|location.href='@{/items/{itemId}/edit(itemId=${item.id})}'|" -->
                    <button class="btn_basic" onclick="location.href='#'" type="button">수정</button>
                    <button class="btn_basic" onclick="location.href='#'" type="button">삭제</button>
                </span>
                </div>
            </dt>
            <dd th:text="${review.review}">
                가성비 굿굿 좋아요~~~ 가성비 굿굿 좋아요~~~ 가성비 굿굿 좋아요~~~ 가성비 굿굿 좋아요~~~
            </dd>
        </dl>
    </li>
</ul>
    <!-- // 리뷰 글 1개 -->
<!--    &lt;!&ndash; 리뷰 글 2개 &ndash;&gt;-->
<!--    <li>-->
<!--        <dl>-->
<!--            <dt>-->
<!--                <div class="star_review">-->
<!--                    <span class="fa fa-star"> </span>-->
<!--                    <span class="fa fa-star-half-full"> </span>-->
<!--                    <span class="fa fa-star-o"> </span>-->
<!--                    <span class="fa fa-star-o"> </span>-->
<!--                    <span class="fa fa-star-o"> </span>-->
<!--                    <em class="star_grade">1.5</em>-->
<!--                </div>-->
<!--                <div class="reviewer">-->
<!--                    <span class="name">ttt*****</span>-->
<!--                    <span class="date">2023/06/01</span>-->
<!--                    <span class="btn"> &lt;!&ndash; th:onclick="|location.href='@{/items/{itemId}/edit(itemId=${item.id})}'|" &ndash;&gt;-->
<!--                        <button class="btn_basic" onclick="location.href='#'" type="button">수정</button>-->
<!--                        <button class="btn_basic" onclick="location.href='#'" type="button">삭제</button>-->
<!--                    </span>-->
<!--                </div>-->
<!--            </dt>-->
<!--            <dd> 추천해요~ </dd>-->
<!--        </dl>-->
<!--    </li>-->
<!--    &lt;!&ndash; // 리뷰 글 2개 &ndash;&gt;-->

<!-- //2) 리뷰 리스트  -->

